.header-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.dates {
  font-size: 0.9rem;
}

.prev-btn, .next-btn {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: #EFEFEF;
}

.prev-btn {
  margin-right: 0.8rem;
}