/* Helpers */

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.row-reverse {
  flex-direction: row-reverse;
}

.align-center {
  align-items: center;
}

.center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-end {
  align-items: flex-end;
}

.align-around {
  align-content: space-around;
}

.show {
  display: block;
}

.hidden {
  display: none;
}
